@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #002e66;
  --background: #e4efff;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Improves text rendering for thicker fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}