@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #3c3621;
  --background: #ffffffb6;
  --dark-gold: #c9958f;
}
/* dark gold is the color of the deltafish in the background, FFE9A1 is the old yellow*/

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}
